.profile-setup-container{
    height: 100%;
}

.leftside, rightside{
    width: 100%;
}

.leftside{
    margin-top: 35%;
}

.rightside{
    margin-top: 20%;
}

.profileSetupContainer{
    width: 80%;
}

/*Tangle Elements*/
.dataGridEditRow__comments{
    display: none;
}

.card-header{
    display: none;
}

.dg-lookup-control{
    background-color: white;
    border-radius: 10px;
}
.v-select{
    background-color: white;
    border-radius: 10px; 
}

/*Custom Elements*/

.profileSetupTextContainer h1{
    color:black;
    font-family: 'Courier New', monospace;
    font-size: 2.3em;
}

.profileSetupTextContainer p{
    color:black;
    font-family: 'Courier New', monospace;

}

/*Buttons*/
.profileButton{
    border:1px solid #000000 !important;
    border-radius: 5px !important;
    box-shadow: 0px 0px !important;
    background-color: black !important;
    text-decoration:none;
    width: 100%;
}

.profileButton:hover{
	background-color:#333333 !important;
}

.skip{
	background-color:#333333 !important;
}
