.donationDataMetricsContainer{
    margin-left: 20px;
    position: relative;
    top: 10%;
}

.impactDataContainer{
    margin-left: 20px;
    position: relative;
    top: 30%;
}

.metricTitle{
    margin-bottom: -5px;
    color: black;
}

.donationMetrics{
    font-size: 65px;
    color: black;
}

