.navbar-container{
    z-index: 1;
}

.navbar-top {
    position: fixed;
    left: 0%;
    top: 0px;
    right: 0%;
    bottom: auto;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    height: 70px;
    margin-top: -1px;
    margin-right: -1px;
    margin-left: -1px;
    border-bottom: 2px solid #DCDCDC;
    background-color: #ECEAE3;
}

.navbar.left{
    flex-grow: 1;
    border-right: 0;
}

.navbar.left .logo{
    width: 40px;
    margin-left: 20px;
}
.navbar.left .charity-name{
    color: black;
}

.navbar.center{
}

.navbar.right {
    background-color: black;
    width: 120px;
    cursor: pointer; 
}

.navbar.right a {
    color: white;
    font-size: 12px;
    margin-left:15px;
    margin-right: 15px;
    width: 100%;
    text-align: center;
}

.navbar.right:hover{
    font-weight:bold;   
    color: white;

}

.workspaceGridLayout{
    margin-top: 55px !important;
}














