.developer-tool {
  position: fixed;
  right: 20px;
  bottom: 50px;
  background-color: #ECEAE3;
  padding: 20px;
  z-index: 9999;
  border-radius: 50%;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.developer-tool:hover{
  cursor: pointer;
}

.developer-tool i{
  color: black;
}

#__BVID__293 {
  display: none !important;
  visibility: hidden !important;
}