<div class="profile-setup-page">

    <div class="row no-gutters">

        <div class="col-md-7 no-gutters">
            <div class="leftside">
                <center>
                    <h1 v-if="$getUser('profileSetUpStep') == 1">TREE IMAGE 1</h1>

                    <div v-if="$getUser('profileSetUpStep') == 2">
                        <h1>TREE IMAGE 2</h1>
                    </div>

                    <div v-if="$getUser('profileSetUpStep') == 3">
                        <h1>TREE IMAGE 3</h1>
                    </div>

                    <div v-if="$getUser('profileSetUpStep') == 4">
                        <h1>TREE IMAGE 4</h1>
                    </div>
                </center>
            </div>
        </div>

        <div class="col-md-5 no-gutters">
            <div class="rightside">
                <div class="profileSetupContainer">
                    <div class="profileSetupTextContainer">
                        <div v-if="$getUser('profileSetUpStep') == 1">
                            <h2>Create Account > Personal Info</h2>
                            <h1>Tell us a few things about yourself</h1>
                            <p>Here will say something about this and how it must be extraordinarilty define the number of rows.</p>
                        </div>

                        <div v-if="$getUser('profileSetUpStep') == 2">
                            <h2>Create Account > Personal Info > Connect Wallet</h2>
                            <h1>Say something here about wallet</h1>
                            <p>Here will say something about this and how it must be extraordinarilty define the number of rows.</p>
                        </div>

                        <div v-if="$getUser('profileSetUpStep') == 3">
                            <h2>Create Account > Personal Info > Connect Wallet > Top-Up Wallet</h2>
                            <h1>Say something here about topping up wallet</h1>
                            <p>Here will say something about this and how it must be extraordinarilty define the number of rows.</p>
                        </div>

                        <div v-if="$getUser('profileSetUpStep') == 5">
                            <h1>Complete Profile</h1>
                        </div>
                    </div>

                    <div class="profileSetupFormContainer">
                        <DataGridEditRow gridId="users" :rowKey="DonorPortal_GetCurrentUserRowKey()" />
                    </div>
                </div>
            </div>
        </div>

    </div>

</div>